html {
    font-size: 16px;
    width: auto;
}

header  {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    padding: 0 24px;
    background-color: white;
    color: gray;
}

header img, header h1 {
    display: inline-flex;
    align-content: center;
    height: 2rem;
    
}

.colmar {
    color: black;
    font-weight: bold;
}

header a {
    display: inline-flex;
    align-content: center;
    margin-left: 1rem;
    font-size: 1.40rem;
    text-decoration: none;
    color: gray;
}

/* intro */

.cta {
    display: flex;
    flex-direction: row ;
    align-items: center;
    background-color: lightgray;
    width: 100%;
}

.cta img {
    width: 60%;
    padding: 32px 24px;
}
 
.content {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 1.5rem;
    justify-content: center;
    color: rgb(71, 71, 71);
}

.content a {
    background-color: rgb(71, 71, 71);
    color: white;
    padding: 0.5rem;
    width: 85%;
    text-decoration: none;
    text-align: center;
}

/* info */

.info {
    display: inline-flex;
    flex: 1;
    background-color: white;
    width: 100%;
    height: auto;
}

article {
    flex: 1 1 60%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    color: rgb(71, 71, 71);
    margin: 0 24px 32px 24px;
    font-size: 1.2rem;
    line-height: 1.5;

}

article h1 {
    font-size: 2rem;
    margin: 0;
}

article img {
    padding: 32px 0;
    width: 100%;
}

.info a, footer a {
    text-decoration: none;
}

.info-1 {
    display: flex;
    flex: 1 1 40%;
    flex-direction: column;
    margin: 16px 0 0 16px;
}

.date, 
.campus, 
.lecture,
.product,
.new-york {
    display: flex;
    flex-direction: row;
    padding: 16px 16px;
    justify-content: justify;
}

.date, .campus, .new-york {
    border: 1px solid lightgray;

}

.lecture {
    background-color: lightgray;

}

.info-1 img, .thesis-2 img {
    max-width: 500px;
    max-height: 300px;
    width: 35%;
    height: auto;
}

#specific-info {
    display: flex;
    flex-direction: column;
    width: 65%;
    color: rgb(71, 71, 71);
    font-size: 1.2rem;
}

/* learning */

.learning {
    display: flex;
    flex-direction: column;
    padding: 32px 56px;
    background-color: lightgray;

}

.learning h1 {
    text-align: center;
    margin: 32px;
    color: rgb(71, 71, 71);
    font-size: 2rem;
}

.courses {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 1.2rem;
    color: rgb(71, 71, 71);
}

#software, #computer, #design, #data, #business, #marketing {
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    margin: 16px;
    background-color: white;
    justify-content: center;
}

.courses-content {
    padding: 16px 16px 24px;
}

.courses h3, p {
    padding: 8px;
    margin: 0;
}


/* Thesis */

.thesis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    color: rgb(71, 71, 71);
    width: 100%;
    border-bottom: 1px solid lightgray;
    ;
}

.thesis h1 {
    text-align: center;
    margin: 32px;
    color: rgb(71, 71, 71);
    font-size: 2rem;    
}

#container-thesis {
    display: inline-flex;
}

.thesis-1 {
    width: 60%;
    margin: 0 24px 32px ;
}

video {
    width: 100%;
}

.thesis-2 {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.thesis-2 img {
    margin-right: 16px;
}

.product {
    background-color: lightgray;
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px 32px;
    color: rgb(71, 71, 71);
}

footer a {
    color: rgb(71, 71, 71);
    padding: 10px;
}