html {
    font-size: 16px;
    width: auto;
    margin: 0;
}

header  {
    display: flex;
    justify-content: space-between;
    height: 64px;
    align-items: center;
    padding: 0 24px;
    background-color: white;
    color: rgb(75, 86, 116);
}

header img, header h1 {
    display: inline-flex;
    align-content: center;
    height: 2rem;
    
}

.colmar {
    color: black;
    font-weight: bold;
}

header a {
    display: inline-flex;
    align-content: center;
    margin-left: 1rem;
    font-size: 1.40rem;
    text-decoration: none;
    color: rgb(75, 86, 116);
}

/* intro */

.cta {
    display: flex;
    flex-direction: row ;
    align-items: center;
    background-color: rgb(138, 175, 231);
    width: 100%;
    flex-wrap: wrap;
}

.cta img {
    width: 60%;
    padding: 32px 24px;
}
 
.content {
    display: flex;
    flex-direction: column;
    width: 30%;
    font-size: 1.5rem;
    justify-content: center;
    color: rgb(3, 23, 53);
}

.content a {
    background-color: rgb(3, 23, 53);
    color: white;
    padding: 0.5rem;
    width: 85%;
    text-decoration: none;
    text-align: center;
}

/* info */

.info {
    display: inline-flex;
    flex: 1;
    background-color: white;
    width: 100%;
    height: auto;
}

article {
    flex: 1 1 60%;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    color: rgb(3, 23, 53);
    margin: 0 24px 32px 24px;
    font-size: 1.2rem;
    line-height: 1.5;

}

article h1 {
    font-size: 2rem;
    margin: 0;
}

article img {
    padding: 32px 0;
    width: 100%;
}

.info a, footer a {
    text-decoration: none;
}

.info-1 {
    display: flex;
    flex: 1 1 40%;
    flex-direction: column;
    margin: 16px 0 0 16px;
    
}

.date, 
.campus, 
.lecture,
.product,
.new-york {
    display: flex;
    flex-direction: row;
    padding: 16px 16px;
    justify-content: justify;
}

.date, .campus, .new-york {
    border: 1px solid rgb(193, 208, 250);

}

.lecture {
    background-color: rgb(193, 208, 250);

}

.info-1 img, .thesis-2 img {
    max-width: 500px;
    max-height: 300px;
    width: 35%;
    height: auto;
}

#specific-info {
    display: flex;
    flex-direction: column;
    width: 65%;
    color: rgb(3, 23, 53);
    font-size: 1.2rem;
}

/* learning */

.learning {
    display: flex;
    flex-direction: column;
    padding: 32px 56px;
    background-color: rgb(193, 208, 250);

}

.learning h1 {
    text-align: center;
    margin: 32px;
    color: rgb(3, 23, 53);
    font-size: 2rem;
}

.courses {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    font-size: 1.2rem;
    color: rgb(3, 23, 53);
}

#software, #computer, #design, #data, #business, #marketing {
    display: inline-flex;
    flex-direction: column;
    width: 300px;
    margin: 16px;
    background-color: white;
    justify-content: center;
}

.courses-content {
    padding: 16px 16px 24px;
}

.courses h3, p {
    padding: 8px;
    margin: 0;
}


/* Thesis */

.thesis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.2rem;
    color: rgb(3, 23, 53);
    width: 100%;
    border-bottom: 1px solid rgb(193, 208, 250);
    ;
}

.thesis h1 {
    text-align: center;
    margin: 32px;
    color: rgb(3, 23, 53);
    font-size: 2rem;    
}

#container-thesis {
    display: inline-flex;
}

.thesis-1 {
    width: 60%;
    margin: 0 24px 32px ;
}

video {
    width: 100%;
}

.thesis-2 {
    display: flex;
    flex-direction: column;
    width: 40%;
}

.thesis-2 img {
    margin-right: 16px;
}

.product {
    background-color: rgb(193, 208, 250);
}

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 24px 32px;
    color: rgb(3, 23, 53);
}

footer a {
    color: rgb(3, 23, 53);
    padding: 10px;
}

/* Responsive Design */

@media only screen and (min-width: 481px) {
    .icons {
        display: none;
    }

}

@media only screen and (max-width: 480px) {

    header {
        height: 64px;
        width: auto;
    }

    .logo, nav, article, .courses img, .courses p, .thesis-1 h3, .thesis-1 p, .thesis-2, .footer-links  {
        display: none;
    }

    .icons {
        display: inline-flex;
        justify-content: center;
        width: 100%;
    }

    .link-icon {
        padding: 0 24px;
    }

    .cta img {
        width: 100%;
        padding: 0;
    }
    
    .content {
        width: auto;
        margin: 32px 16px;
    }

    .content h1 {
        margin: 0;
    }

    .content p {
        margin: 24px 0;
    }

    .info-1 {
        margin-bottom: 32px;
        width: 100%;
    }

    .date, .campus, .lecture, .product, .new-york {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        border: none;
    }

    .info-1 img, .thesis-1 video  {
        width: 100%;
        height: auto;
    }

    .lecture, .learning {
        background-color: white;
    }

    .learning, .courses h3  {
        padding: 0;
    }

    .courses-content {
        background-color: rgb(193, 208, 250);
    }

    #software, #computer, #design, #data, #business, #marketing {
        margin: 0 0 8px;
    }

    .thesis {
        width: 100%;
    }
}